<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{% block metatitle %}Welcome!{% endblock %}</title>
    <meta name="description" content="{% block metadescription %}Gary Straughan - PHP / Symfony2 Developer{% endblock %}">
    <meta name="author" content="Gary Straughan">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->


    {% stylesheets
        'css/normalize.css'
        'css/skeleton.css'
        'css/custom.css'
        filter='cssrewrite' output='css/compiled/all.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


</head>
<body>

    <section class="header">
        <div class="container">
            <h1 class="title">{% block title %}Title{%  endblock %}</h1>
        </div>
    </section>


    {% block navigation %}
    <div class="navbar-spacer"></div>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="{{ path('homepage') }}">Home</a></li>
                <li class="navbar-item"><a class="navbar-link" href="{{ path('projects', {'slug': null}) }}" data-popover="#codeNavPopover">Projects</a></li>
                <li class="navbar-item"><a class="navbar-link" href="{{ path('contact') }}">Contact</a></li>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %}



    {% block body %}
    <div class="row">
        <div class="one-half column" style="margin-top: 25%">
            <h4>Basic Page</h4>
            <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
        </div>
    </div>
    {% endblock %}

</div>


<div class="section footer">
    <div class="container">
        <p>Gary Straughan - 07834 003 110</p>
        <!--
        <p>This website is created with Symfony2</p>
        <ul>
            <li>
                (Mostly) follows the <a href="http://symfony.com/doc/current/best_practices/index.html">Symfony Best Practices<a/>
            </li>
            <li>
                Responsive template: <a href="http://getskeleton.com/">Skeleton</a>
            </li>
        </ul>
        -->
    </div>
</div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

{% block javascripts %}{% endblock %}
</body>
</html>
